:root {
  --headingFontSize: 2.5em;
  --subtitleFontSize: 1.3em;
  --rulesFontSize: 1.2em;
  --cellPFS: 4.2em;
  --bannerButtonsFS: 2.3em;
  --bannerPFS: 1.4em;

  --gameStationWidth: 400px;
  --marginTopRulesAndBoard: 60px;
  --marginSidesRulesAndBoard: 37px;
}

#section2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  background-color: rgb(43, 41, 51);
  padding: 70px 10px calc(var(--gameStationWidth) / 4) 10px;
}

#section2 header {
  text-align: center;
  width: 100%;
}
#section2 header h2 {
  margin-top: 0px;
  font-size: var(--headingFontSize);
}
#section2 header p {
  margin-bottom: 0px;
  font-size: var(--subtitleFontSize);
  margin: 0px 10vw;
}

#section2 ol {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: rgb(59, 57, 68);
  list-style: none;

  width: 655px;
  min-height: 330px;
  margin: var(--marginTopRulesAndBoard) var(--marginSidesRulesAndBoard) 0px
    var(--marginSidesRulesAndBoard);
  padding: 30px 45px;
  border-radius: 3px;
}
#section2 ol li {
  display: flex;
  margin: 20px 0px 10px 0px;
}
.ruleP {
  margin: 0px;
  font-size: var(--rulesFontSize);
  line-height: 180%;
  color: rgb(232, 231, 237);
}
.ruleNumber {
  font-size: calc(var(--rulesFontSize) * 1.65);
  font-weight: bold;
  margin: 0px 35px 0px 0px;
}

/*GAME STATION ############################*/
#gameStation {
  box-sizing: border-box;

  margin: var(--marginTopRulesAndBoard) var(--marginSidesRulesAndBoard) 0px
    var(--marginSidesRulesAndBoard);

  width: var(--gameStationWidth);
  min-width: var(--gameStationWidth);
}

#gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: calc((var(--gameStationWidth) / 100) * 5.5);
  column-gap: calc((var(--gameStationWidth) / 100) * 5.5);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid rgb(234, 234, 238);
  aspect-ratio: 1/1;
  border-radius: 7px;
  cursor: pointer;

  transition: border-color 0.1s;
}
.cell:hover {
  border-color: rgb(103, 99, 112);
}
.cell p {
  margin: 0px;
  padding: 0px;

  text-align: center;
  font-size: var(--cellPFS);
  font-weight: bold;
  user-select: none;
  -webkit-user-drag: none;
}
.cross {
  position: relative;
  width: 100%;
  height: 100%;
  color: rgb(255, 108, 108, 0.8);
}
.cross img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 43%;
  height: 43%;
  object-fit: contain;
}
.circle {
  position: relative;
  width: 100%;
  height: 100%;
  color: rgba(136, 120, 241, 0.8);
}
.circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 45%;
  object-fit: contain;
}

#gameBanner {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(234, 234, 238);

  margin-top: 25px;
  border-radius: 200px;

  aspect-ratio: 6.5/1;
}

#gameBanner button {
  position: relative;
  height: 100%;
  width: 24%;
  border: none;
  font-size: var(--bannerButtonsFS);
  color: rgb(234, 234, 238);
  background-color: transparent;
  cursor: pointer;

  transition: background-color 0.15s;
}
#resetButton img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 43%;
  height: 43%;
  object-fit: contain;
}
#resetButton:hover {
  background-color: rgb(126, 100, 179);
}
#switch1:hover {
  background-color: rgb(255, 108, 108, 0.6);
}
#switch2:hover {
  background-color: rgba(136, 120, 241, 0.6);
}
.switchButton {
  position: relative;
}
.switchButton img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 43%;
  height: 43%;
  object-fit: contain;
}

#gameBanner p {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: var(--bannerPFS);
  color: rgb(190, 189, 195);
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  user-select: none;
}

/*MEDIA QUERIES###########################################*/
@media (max-width: 1000px) {
  :root {
    --headingFontSize: 2.2em;
    --subtitleFontSize: 1.2em;
    --rulesFontSize: 1.1em;

    --cellPFS: 3.6em;
    --bannerButtonsFS: 1.9em;
    --bannerPFS: 1.25em;

    --gameStationWidth: 350px;
    --marginTopRulesAndBoard: 50px;
    --marginSidesRulesAndBoard: 35px;
  }
}

@media (max-width: 700px) {
  :root {
    --headingFontSize: 2em;
    --subtitleFontSize: 1.1em;
    --rulesFontSize: 1em;

    --cellPFS: 3.1em;
    --bannerButtonsFS: 1.75em;
    --bannerPFS: 1.25em;

    --gameStationWidth: 330px;
    --marginTopRulesAndBoard: 40px;
    --marginSidesRulesAndBoard: 12px;
  }

  #gameBanner {
    aspect-ratio: 5.5/1;
  }
  #gameBanner button {
    width: 30%;
  }
  #gameStation {
    margin-top: 55px;
  }
}
