#giftAtTheEnd {
  border-left: 7px solid rgb(105, 83, 178);
  background-color: black;
  background: linear-gradient(
    to bottom right,
    rgb(37, 36, 48),
    rgb(25, 24, 34)
  );
  border-radius: 3px;
  padding: calc(1vw + 15px);
  margin: calc(1.6vw + 30px) 0px 0px 0px;
  overflow: hidden;
}
#giftAtTheEnd p {
  margin: 0px;
}

#firstUl {
  padding-left: 30px;
}
#firstUl h3 {
  margin-bottom: 5px;
  margin-top: 25px;
}

#clarificationsUl {
  margin: 0px;
}
#clarificationsUl li {
  margin-bottom: 30px;
}
#clarificationsUl li p {
  margin: 0px 0px 20px 0px;
}

#endGiftCard {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 200px;
  padding: 40px;
  border-radius: 3px;

  background: linear-gradient(
    to bottom right,
    rgb(45, 43, 59),
    rgb(37, 36, 49)
  );
}
#endGiftImgDiv {
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  min-width: 120px;
  min-height: 120px;
  padding: 18px;
  border-radius: 3px;
  background: linear-gradient(
    to top left,
    rgb(116, 130, 208),
    rgb(101, 100, 190)
  );
}
#endGiftImgDiv img {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  width: 100%;
  height: 100%;
  min-width: 90px;
  object-fit: contain;
  object-position: center;
}

#endGiftPDiv {
  max-width: 200px;
  margin: 0px 30px 0px 30px;
  flex: 1;
}
#endGiftPDiv p {
  font-size: 1.1em;
  color: rgb(220, 219, 230);
}

#endGiftCard a {
  display: inline-block;
  color: white;
  text-decoration: none;

  width: 150px;
  font-size: 1.2em;
  text-align: center;
  background-color: rgb(97, 80, 173);
  border-radius: 3px;
  padding: 13px 20px;
}
#endGiftCard a:hover {
  background-color: rgb(117, 98, 201);
}
#endGiftCard a:active {
  background-color: rgb(131, 112, 217);
}

#endGiftCover {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom right,
    rgb(38, 37, 49),
    rgb(28, 26, 37)
  );
  border-radius: 3px;

  transition: opacity 0.3s;
}

#endGiftCover:hover #giftIcon2 {
  opacity: 1;
}
#endGiftCover:active {
  background: linear-gradient(
    to bottom right,
    rgb(32, 31, 42),
    rgb(18, 17, 25)
  );
}

#endGiftCover img {
  height: 55%;
  width: auto;
  user-select: none;
  -webkit-user-drag: none;
}
#giftIcon2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

/*ANIMATIONS ####################################*/

#rotatingAnimation {
  display: flex;
  justify-content: center;
  height: 150px;
  max-height: 30vw;
  margin: 40px 0px;
}
#rotatingAnimation img {
  padding: 0px 10%;
  height: 100%;
  width: auto;
  user-select: none;
  -webkit-user-drag: none;
  image-rendering: crisp-edges;

  animation: rotateCenter 10s infinite;
}

@keyframes rotateCenter {
  0%,
  15% {
    transform: rotate(0deg);
  }
  25%,
  40% {
    transform: rotate(90deg);
  }
  50%,
  65% {
    transform: rotate(180deg);
  }
  75%,
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#pendulumAnimation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 36px 0px;
}
#pendulumAnimation img {
  width: 100%;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
  image-rendering: crisp-edges;
}

#pendulumBG {
  opacity: 0.39;
}
#pendulum {
  position: absolute;
  top: 0;
  left: 0;

  animation: pendulumAnimation 22s infinite;
  transform-origin: 50% 31.73%;
}

@keyframes pendulumAnimation {
  0%,
  12% {
    transform: rotate(0deg);
  }
  25%,
  37% {
    transform: rotate(-90deg);
  }
  50%,
  62% {
    transform: rotate(-180deg);
  }
  75%,
  87% {
    transform: rotate(-90deg);
  }
}

/*MEDIA QUERIES##################################*/

@media (max-width: 1000px) {
  #giftIcon2 {
    opacity: 1;
  }
  html {
    overflow-x: hidden;
    width: auto;
  }
}

@media (max-width: 700px) {
  #clarificationsUl {
    padding: 0px 0px 0px 25px;
  }
  #endGiftImgDiv {
    width: 120px;
    height: 120px;
    padding: 12px;
  }
  #endGiftPDiv {
    display: none;
  }
  #endGiftCard a {
    width: auto;
    max-width: 150px;
    margin-right: 3vw;
    margin-left: 30px;
  }
}
