:root {
  --bodyPaddingTop: 80px;
  --headingFontSize1: 2em;
  --textFontSize: 1.1em;
  --columnWidth: 70%;
}

body {
  padding-top: var(--bodyPaddingTop);
  color: white;
}

#contactSection {
  background-color: rgb(43, 41, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactHeader {
  text-align: center;
  width: var(--columnWidth);
}

h1 {
  padding: 20px 0px;
  font-size: var(--headingFontSize1);
}

#presentationCard {
  display: flex;

  background-color: rgb(70, 66, 80);
  border-radius: 3px;
  overflow: hidden;
}
#imgAndText {
  display: flex;
  align-items: center;
  padding: 28px 50px;
}
#imgAndText img {
  width: 130px;
  aspect-ratio: 1/1;
  border-radius: 500px;
  object-position: center;
  object-fit: contain;
}
#imgAndText p {
  text-align: left;
  line-height: 200%;
  font-size: var(--textFontSize);
  margin: 0px;
  padding: 0px 10px 0px 40px;
}
.sideDecorator {
  width: 12.5%;
  background: linear-gradient(to top, rgb(87, 76, 154), rgb(98, 98, 173));
  background-color: rgb(87, 76, 154);
}

#contactInfo {
  box-sizing: border-box;
  width: var(--columnWidth);
  margin-top: 70px;
  margin-bottom: 80px;
  background: linear-gradient(
    to left,
    rgba(108, 87, 130, 0.95),
    rgba(76, 64, 122, 0.95)
  );
  padding: 40px;
  border-radius: 3px;
}
#contactInfo p {
  margin: 0px;
  line-height: 200%;
  font-size: var(--textFontSize);
}

#lastText {
  margin: 0px 0px 80px 0px;
  font-size: var(--textFontSize);
  color: rgb(225, 225, 230);
}
#lastText a {
  text-decoration: none;
  color: rgb(158, 125, 242);
}
#lastText a:hover {
  text-decoration: underline;
}

/*MEDIA QUERIES#####################################################*/

@media (max-width: 1000px) {
  :root {
    --headingFontSize1: 1.9em;
    --columnWidth: 80%;
    --textFontSize: 1.05em;
  }

  h1 {
    padding: 10px 0px;
  }

  #imgAndText {
    padding: 28px 30px;
  }
  #imgAndText p {
    padding: 0px 10px 0px 25px;
  }
  #imgAndText img {
    width: 100px;
  }

  #contactInfo {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 35px;
  }
}

@media (max-width: 700px) {
  :root {
    --bodyPaddingTop: 63px;
    --headingFontSize1: 1.8em;
    --columnWidth: 90%;
    --textFontSize: 1em;
  }

  #imgAndText {
    display: initial;
    padding: 25px 30px;
  }
  #imgAndText img {
    margin: 0px 20px 6px 0px;
    width: 90px;
    float: left;
  }
  #imgAndText p {
    padding: 0px;
  }

  #contactInfo {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
  }
}
