footer {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  min-height: 260px;

  border-top: 1px solid rgb(70, 65, 93);
  background: linear-gradient(
    to bottom right,
    rgb(47, 33, 99),
    rgb(116, 36, 116)
  );
}
footer img {
  position: relative;
  z-index: 2;
  height: 40px;
  width: auto;
  margin: 30px 10px 20px 40px;

  user-select: none;
  -webkit-user-drag: none;
}

footer nav {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  margin: 30px 40px 70px 10px;
}

footer nav section {
  border-left: 1px solid rgba(176, 172, 196, 0.5);
  padding: 7px 0px 7px 20px;
  margin: 0px 0px 40px 30px;
  flex: 1;
}
footer nav section h2 {
  color: rgb(239, 237, 243);
  margin: 0px 0px 17px 0px;
  font-size: 1.02em;
}
footer nav section ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer nav section li {
  margin: 5px 0px 10px 0px;
}
footer nav section a {
  text-decoration: none;
  color: rgb(242, 240, 245);
  font-size: 0.95em;
}
footer nav section a:hover {
  text-decoration: underline;
}

#footerNav1 {
  min-width: 200px;
  max-width: 230px;
}
#footerNav2 {
  min-width: 100px;
  max-width: 100px;
}
#footerNav3 {
  min-width: 210px;
  max-width: 320px;
}
#footerNav3 a {
  font-style: italic;
}

#copyrightNotice {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  color: rgb(224, 222, 228);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
}

#footerBottomShadow {
  position: absolute;
  z-index: 2;
  height: 65%;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(43, 41, 51, 0.7));
}

/*MEDIA QUERIES#####################################################*/
@media (max-width: 700px) {
  footer img {
    height: 33px;
    margin-left: 5vw;
  }
  footer nav section {
    margin-left: calc(5vw - 10px);
  }
  footer nav section h3 {
    font-size: 1em;
  }
  footer nav section a {
    font-size: 0.9em;
  }
}
