:root {
  --S3HeadingFontSize: 2.5em;
  --S3TextFontSize: 1.2em;
  --imgSize: 150px;
  --gridGaps: 50px;
}

* {
  box-sizing: border-box;
}

#section3 {
  background: linear-gradient(rgb(71, 67, 180), rgb(132, 185, 255));
  padding: 40px 40px 26px 40px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#section3 header h2 {
  font-size: var(--S3HeadingFontSize);
  margin: 40px 40px 5px 40px;
  text-align: center;
}

#blogPointsTable {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--gridGaps);

  padding: var(--gridGaps);
  margin: 60px 0px 0px 0px;
  width: 65%;
  background-color: rgba(40, 22, 71, 0.4);
  border-radius: 5px;
}

.blogPoint {
  display: flex;
  align-items: center;
}
.section3ImgDiv {
  background-color: white;
  height: var(--imgSize);
  min-width: var(--imgSize);
  width: var(--imgSize);
  border-radius: 5px;
  padding: calc((var(--imgSize) / 100) * 14);
  margin-right: var(--gridGaps);
}
.section3ImgDiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.blogPoint p {
  font-size: var(--S3TextFontSize);
  line-height: 190%;

  background-color: rgba(130, 149, 255, 0.4);
  border-radius: 5px;
  min-height: var(--imgSize);
  margin: 0px;
  padding: calc((var(--imgSize) / 100) * 18);
}

#section3 a {
  text-decoration: none;
  background-color: rgb(91, 106, 194);
  border: none;
  color: white;
  font-size: 1.3em;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0px 70px;
  margin: 60px 0px;
  line-height: 56px;
  border-radius: 5px;

  transition: background-color 0.15s;
}
#section3 a:hover {
  background-color: rgb(74, 83, 174);
}
#section3 a:active {
  background-color: rgb(67, 75, 159);
}

/*MEDIA QUERIES###############################################*/
@media (max-width: 1000px) {
  :root {
    --S3HeadingFontSize: 2.2em;
    --S3TextFontSize: 1.1em;
    --imgSize: 130px;
    --gridGaps: 40px;
  }
  #section3 {
    padding: 35px 30px 23px 30px;
  }
  #blogPointsTable {
    width: 80%;
  }
  .section3ImgDiv {
    float: left;
    margin: calc(var(--gridGaps) * 0.7);
  }
  .blogPoint {
    display: initial;
  }
  .blogPoint p {
    height: 100%;
    padding-top: calc((var(--imgSize) / 100) * 21);
  }
}
@media (max-width: 700px) {
  :root {
    --S3HeadingFontSize: 2em;
    --S3TextFontSize: 1em;
    --imgSize: 125px;
    --gridGaps: 25px;
  }
  #section3 {
    padding: 30px 0px 20px 0px;
  }
  #section3 h2 {
    margin: 40px 40px 5px 10px;
  }
  .section3ImgDiv {
    margin: calc(var(--gridGaps) * 0.9);
  }
  .blogPoint p {
    padding: calc((var(--imgSize) / 100) * 15);
  }
  #blogPointsTable {
    width: 90%;
    justify-items: center;
    margin-top: 30px;
  }
}
